/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * azo-sans-uber:
 *   - http://typekit.com/eulas/00000000000000007735a2d1
 * bicyclette:
 *   - http://typekit.com/eulas/00000000000000007735acd4
 *   - http://typekit.com/eulas/00000000000000007735acd8
 *   - http://typekit.com/eulas/00000000000000007735acdc
 *   - http://typekit.com/eulas/00000000000000007735ace1
 *   - http://typekit.com/eulas/00000000000000007735ace5
 *   - http://typekit.com/eulas/00000000000000007735aceb
 *   - http://typekit.com/eulas/00000000000000007735acec
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-10-18 15:58:56 UTC"}*/

@import url("p.css");

@font-face {
font-family:"azo-sans-uber";
src:url("../l") format("woff2"),url("../d") format("woff"),url("../a_1") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"bicyclette";
src:url("../l_1") format("woff2"),url("../d_1") format("woff"),url("../a_2") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"bicyclette";
src:url("../l_2") format("woff2"),url("../d_2") format("woff"),url("../a") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"bicyclette";
src:url("../l_3") format("woff2"),url("../d_3") format("woff"),url("../a_7") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"bicyclette";
src:url("../l_4") format("woff2"),url("../d_7") format("woff"),url("../a_5") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"bicyclette";
src:url("../l_5") format("woff2"),url("../d_4") format("woff"),url("../a_3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"bicyclette";
src:url("../l_6") format("woff2"),url("../d_5") format("woff"),url("../a_4") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"bicyclette";
src:url("../l_7") format("woff2"),url("../d_6") format("woff"),url("../a_6") format("opentype");
font-display:auto;font-style:normal;font-weight:900;
}

.tk-azo-sans-uber { font-family: "azo-sans-uber",sans-serif; }
.tk-bicyclette { font-family: "bicyclette",sans-serif; }
